
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var returnUrl = ViewData["ReturnUrl"] as string;
    var error = TempData["Error"] as string;
}
<style>
#LoginContent{
    margin-top:40px;
    margin-left: 40px;

}
input[type=text]{
    background: #F6F6F6;
border-radius: 5px;
width: 270px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: black;
}
input[type=password]{
    margin-top:25px;
    background: #F6F6F6;
border-radius: 5px;
width: 310px;
font-family: 'Poppins';
font-style: normal;
width: 270px;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: black;
}
#AbsPicture{
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    background: linear-gradient(0deg, #FDF8F8 2.13%, #EBACAC 143.86%);
}
</style>
@if (!string.IsNullOrEmpty(error))
{
    <h2 class="alert-danger" style="padding:20px;">@error</h2>
}
<div id="AbsPicture"></div>
<form id="MainWindow" action="/validate?ReturnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    <div id="LoginContent">
        <div style="height:100px"><h2>Welcome Back</h2>
        <div style="font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 18px;
color: gray">Login to your account</div>    
        </div>
    <div><input type="text" name="username" placeholder="Username" /></div>
    <div><input type="password" name="password" placeholder="Password" /></div>
    <input type="hidden" name="returnUrl" value="@returnUrl" />
    <p>&nbsp;</p>
    <div><input id="login" type="submit" value="login" /></div>
    
<div>
    <ul>
        <li class="mt-4"><a href="/login/google?returnUrl=@returnUrl"><img src="~/img/btn_google_signin_light_normal_web@2x.png" height="50px" width="200px"/></a></li>
        <li class="mt-4"><a href="/login/okta?returnUrl=@returnUrl">Login with Okta</a></li>
    </ul>
</div>
</div>
</form>